* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.two_columns {
    column-count: 2;
    column-width: 25em;
}

.three_columns {
    column-count: 3;
    column-width: 15em;
}

header {
    height: 100px;
    background: #ffffff;
    width: 100%;
    z-index: 10;
    position: fixed;
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: poppins;
    color: #fff;
    letter-spacing: 5px;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    font-family: poppins;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #000000;
}

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url("../assets/fondo.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2 {
    padding-top: 5%;
    font-size: 60px;
    font-family: poppins;
    text-transform: uppercase;
    color: #000000;
}

.banner-area h3 {
    padding-top: 1%;
    font-size: 40px;
    font-family: poppins;
    text-transform: uppercase;
    color: #000000;
}

.content-area {
    width: 100%;
    height: auto;
    position: relative;
    top: 450px;
    background: #ebebeb;
}

.content-area h2 {
    font-family: poppins;
    letter-spacing: 4px;
    padding-top: 15%;
    font-size: 40px;
    margin: 0;
}

.img {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 400px;
    height: 446px;
}

.content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
}

.white {
    background: #fff;
}

.three_columns h2 {
    padding-top: 10%;
    font-size: 30px;
}

.three_columns section {
    padding-bottom: 10%;
}
