@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*--------------------------------------------------------------------------------------------------------------------*/
/*Mobile First*/
@media (min-width: 390px){
    body{
        padding-right: 1em;
        width: 100%;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*Inicio contenedor-logueado*/
.contenedor-logueado{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
    justify-content: center;
}
/*Fin contenedor-logueado*/
/*Inicio texto-logueado*/
.texto-logueado{
    width: 300px;
    height: 25px;
    padding: 2px 2px;
    border: 1px solid #797979;
    margin: 44px 37px 0 37px;
    text-align: center;
}
/*Fin texto-logueado*/
.mensaje-volver{
    width: 337px;
    height: 25px;
    padding: 2px 2px;
    margin: 0 37px 0 37px;
}
/*--------------------------------------------------------------------------------------------------------------------*/