/*---------------------------------------------------------------------------------------------------------*/
/*Importamos la fuente Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio menu*/
header>nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.dropbtn {
    margin: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Fin menu*/
/*Inicio Area de la Cabecera*/
.header-area {
    background: #ffffff;
    width: 100%;
    /*Flex*/
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:0 0 10px grey ;
}
/*Fin Area de la Cabecera*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio Contenido*/
.contenido{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Bold", "Montserrat", "Montserrat", sans-serif;
    align-items: center;
}
/*Fin Contenido*/
/*Inicio Titulo Catalogo*/
h1{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 0;   /*Para eliminar el margen que hay por abajo que pone por defecto los h1*/
}
h2{
    display: flex;
    justify-content: center;
}
/*Fin Titulo Catalogo*/
/*Inicio Catalogo*/
.contenido>#contenedor_elige_una_sonda>.catalogo{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-top: 3px solid #aaaaaa;
    border-bottom: 3px solid #aaaaaa;
    width: 90%;
}
/*Fin Catalogo*/
#contenedor_producto_sonda{
    margin: 35px auto 13px;
    background-color: rgba(215, 215, 215, 0.27);
    width: 325px;
    border-radius: 5px;
}
#producto_sonda{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px auto;
    flex: 0 1 134px; /*0 para que no se haga más grande, 1 para que se haga pequeña, y 134px de tamaño*/
}
/*Inicio todas las listas*/
ul>li{
    list-style:none; /*Con esta propiedad, eliminamos el punto negro que viene por defecto*/
}
ul{
    margin:0; /*Los ul tienen un margin-block-start y end de 1em por defecto. Con esto, lo quitamos*/
    padding:0; /*Los ul tienen un padding de 40px por la izquierda por defecto. Con esto, lo quitamos*/
}
/*Fin todas las listas*/
/*Inicio Imagenes del Catalogo*/
.imagen_catalogo{
    width: 100%;
    height: 134px;
}
/*Fin Imagenes del Catalogo*/
#lista_de_sensores>div{
    display: flex;
}
/*Incio boton*/
.boton{
    display: flex;
    /*Forma*/
    height: 52px;
    min-width: 107px;
    border-radius: 5px;
    /*Colores*/
    background: #900c3f;
    color: white;
    /*Texto*/
    text-decoration: none;
    text-align: center;
    /*Alineación*/
    align-items: center;
    justify-content: center;
    padding-right: 7px;padding-left: 7px;
    margin: 15px 4px;
}
/*Fin boton*/
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*Inicio Footer*/
footer {
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: space-between;
    border-top: 3px solid #aaaaaa;
}

footer a {
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Arial Normal", "Arial", sans-serif;
    color: #000000;
    text-align: left;
    line-height: normal;
    text-decoration: none;
    font-size: 10px;
}

.row {
    flex-flow: row nowrap;
}
.wrapper_row {
    padding-top: 2px;
    min-height: 100px;
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper_col {
    padding: 15px;
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
/*Inicio iconos del footer*/
.icon_footer {
    width: 75%;
    height: auto;
}
/*Fin iconos del footer*/
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
@media(min-width: 516px){
    .contenido{
        flex-direction: row-reverse;
        border-top: 3px solid #aaaaaa;
        justify-content: center;
        align-items: center;
    }
    .contenido>#contenedor_elige_una_sonda{
        margin: 0 auto;
    }
    h1{
        display: flex;
    }
    .contenido>#contenedor_elige_una_sonda>.catalogo{
        border:none;
    }
    #contenedor_producto_sonda{
        margin: 0 0 13px;
    }
    /*Inicio Barra Separadora*/
    aside{
        /*margin: 0 5px;*/
        width: 3px;
        height: 350px;
        border-right: 3px solid #aaaaaa;
    }
    /*Fin Barra Separadora*/
    #lista_de_sensores{
        margin: 0 auto;
        height: 100%;
    }
    #lista_de_sensores>div{
        flex-wrap: wrap;
        flex-direction: row;
    }
}