@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------------------------------------------------------------------------------------------*/
/*Inicio Variables*/
:root{
    --texto:#111111; /*Color del texto*/
    --principal:#FFFFFF; /*Color principal de nuestra web*/
    --secundario:#000000; /*Color secundario de nuestra web*/
    /*Botones*/
    --boton-fondo:#900c3f;
    --boton-texto:#FFFFFF;
    /*Imagenes*/
    --imagen-fondo:rgba(215, 215, 215, 0.27);
}
/*Fin Variables*/
/*---------------------------------------------------------------------------------------------------------*/
html{
    font-family: "Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
    font-size: 15px; /*Esto ha definido el rem --> 1rem = 15px*/
}

/*Inicio body*/
body {
    background: url("../../assets/fondo-login.jpeg") no-repeat center top;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/*Fin body*/
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio header*/
.encabezado{
    background: var(--principal);
    color: var(--texto);
    border: 1px solid black;
    border-top: none;
    border-radius: 5px;
    height: 17vh;
}

.contenedor-boton-login-menu{
    display: flex;
    align-items: center;
    margin: 2rem;
}
.contenedor-boton-login-menu>nav>div>ul{
    justify-content: stretch;
}
/*aqui empieza el logo*/
.encabezado>.logo>img{
    width:150px;
    height: auto;
}
/*aqui empieza el boton-login*/
#boton-login{
    background: var(--imagen-fondo);
    border-radius: 90%;
}
#boton-login>a{
    color: var(--boton-texto);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
/*Inicio Menu*/
.nav-item{
    background: var(--boton-fondo);
    border-radius: 5px;
    margin: 0.5rem;
    width: 10rem;
    text-align: center;
}
.nav-item>a{
    color: var(--boton-texto);
}
.contenedor-boton-login-menu>nav>div>ul>li{
    padding: 1rem;
}

.contenedor-boton-login-menu>nav>div>ul>li{
    align-self: center;
}
.bg-light {
    background-color: transparent!important;
}
/*Fin Menu*/
/*Fin header*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/*Inicio mobile-first*/

.container {
    padding: 1em;
    margin: 2em auto;
    max-width: 750px;
}

/*Para un dispositivo cuya anchura minima sea 600px*/

@media (min-width: 600px) {
    .container [class="contenedor-login"] {
        display: flex;
        justify-content: space-between;
    }

    .container [class="form"] {
        width: 30%;
    }
}


/*Fin mobile-first*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------------------------*/





/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio Header*/
nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.opacity {
    opacity: 60%;
}

.dropbtn {
    margin: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-area {
    background: #ffffff;
    width: 100%;
    left: 0;
    right: 0;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px grey;
    /*Flex*/
    display: flex;
    justify-content: space-between;
}

/*fin header*/

/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio Atrás*/

.volver {
    /*Inicio flexbox*/
    display: flex;
    justify-content: flex-start;
    /*Se situa a la izquierda*/
    flex-wrap: wrap;
    /*Fin flexbox*/
    /*Inicio tamaño*/
    padding: 2px 2px 2px 2px;
    margin: 2px 0;
    width: 90px;
    /*Fin tamaño*/
    /*Inicio Borde*/
    border-radius: 5px;
    border: 1px solid #797979;
    background-color: #900c3f;
    box-sizing: border-box;
    /*Fin Borde*/
    /*Inicio Texto*/
    font-family: "Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    /*Fin Texto*/
    /*Inicio hipervinculo*/
    color: white;
    /*Inicio hipervinculo*/
}


/*Fin Atrás*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio titulo del login*/

.titulo-login {
    display: flex;
    justify-content: center;
    width: auto;
    height: 28px;
    font-family: "Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
    color: #333333;
}


/*Fin titulo del login*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio clase account*/

.account {
    /*Tamaño*/
    width: 80px;
    height: 79px;
    /*Fondo*/
    background-image: linear-gradient(to right bottom, transparent, white 10%);
    border-radius: 90px;
    /*Alineación*/
    margin: auto 40%;
    justify-content: center;
    margin-bottom: 25px;
}


/*Fin clase account*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio form*/

form {
    display: flex;
    /*Dispone de forma automática todos los elementos hijos para que vayan fluidos*/
    flex-direction: column;
    /*Aparece en forma de columna, ergo uno encima del otro*/
}


/*Fin form*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio id="contenedor-login"*/

div [class=contenedor-login] {
    margin: 0 auto;
    /*La primera medida, hace referencia a la distancia por arriba y por abajo; y la segunda, por derecha e izquierda */
    justify-content: center;
    background-color: var(--boton-texto);
    padding: 20px 20px;
}


/*Fin id="contenedor-login"*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio todos los input*/

input {
    margin-bottom: 10px;
    /*Margen por abajo de 10px para los elementos de tipo input*/
    padding: 6px;
}


/*Fin todos los input*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio contenido del email y contenido de contraseña*/

.contenido-email {
    display: flex;
    flex-direction: row;
}

.contenido-email-interior {
    display: flex;
    flex-direction: column;
}

.contenido-contraseña {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.contenido-contraseña-interior {
    display: flex;
    flex-direction: column;
}

    /*Inicio Tamaño, Color, Fuente*/
    .contenido-contraseña-interior,.contenido-email-interior{
    font-family: "Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
    color: var(--texto);
    /*Fin Tamaño, Color, Fuente*/
    text-align: left;
    line-height: normal;
    }

/*Fin contenido del email y contenido de contraseña*/


/*--------------------------------------------------------------------------------------------------------------------*/

/*Inicio input de Email y Contraseña*/
input[id="email"],
input[id="password"] {
    border: black 1px solid;
    width: 200px;
    /*Limita los inputs y los elementos del form a una anchura de 200px*/
}

/*Fin input de Email y Contraseña*/

/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio Iconos de email y lock*/

.email-icon {
    width: 27px;
    height: 30px;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    margin-top: 19px;
    margin-right: 10px;
}

.lock-icon {
    width: 27px;
    height: 30px;   
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    margin-top: 19px;
    margin-right: 10px;
}


/*Fin Iconos de email y lock*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio clase Mostrar-Ocultar-Contraseña*/

.ojo {
    width: 30px;
    height: 20px;
    margin-left: .5rem;
}


/*Fin clase Mostrar-Ocultar-Contraseña*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio Enviar */

input[type="submit"] {
    width: 140px;
    height: 40px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-color: #900c3f;
    font-family: "Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    align-self: center;
}


/*Fin Enviar*/

#recordarPassword,#recordarPassword>a{
    color: var(--texto);
    font-style: italic;
}
#recordarPassword>a{
    font-weight: bold;
}

/*--------------------------------------------------------------------------------------------------------------------*/


/*Inicio id="error"*/

#error{
    /*Inicio Tamaño-Color*/
    background-color: rgba(170, 170, 170, 0.16);
    width: 20rem;
    margin:0 auto;
    color: black;
    /*Fin Tamaño-Color*/
    /*Inicio Alineacion*/
    text-align: center;
    font-weight: bold;
    padding: 5px;
    /*Inicio Alineacion*/
    visibility: hidden;
    /*Estado del objeto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    flex-direction: column;
    justify-content: center;
}


/*Fin id="error"*/


/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio media querys*/
/*Nota importante: Muchas media querys vienen ya de serie con la libreria de Bootstrap 4.6.0*/
@media (max-width: 992px) {
    .contenido{
        margin-top: 9rem;
    }
    .contenedor-boton-login-menu>nav>div>ul{
        position: absolute;
        right: 0;
        display: block;
    }
}
/*Fin media querys*/