/*Inicio menu*/

header>nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dropbtn {
    margin: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*Fin menu*/


/*Inicio Area de la Cabecera*/

.header-area {
    background: #ffffff;
    width: 100%;
    left: 0;
    right: 0;
    /*Flex*/
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px grey;
}


/*Fin Area de la Cabecera*/


/*---------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------------*/


/*Inicio Contenido*/

.titulo {
    display: flex;
    align-items: center;
}

.titulo>a {
    margin-right: 10px;
}

.contenido {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Bold", "Montserrat", "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}


/*Fin Contenido*/


/*Inicio Titulo Contactanos*/

.contenido>h1 {
    margin: 0 auto;
    font-size: 32px;
}


/*Fin Titulo Contactanos*/


/*Inicio Formulario*/

.contenido>form {
    display: flex;
    width: 300px;
    flex-direction: column;
    padding: 5px
}


/*Fin Formulario*/


/*Inicio de todos los <div> del formulario*/

.contenido>form>div {
    flex-direction: row;
    padding: 3px 0;
}


/*Fin de todos los <div> del formulario*/


/*Inicio todos los label del formulario*/

.contenido>form>label {
    margin: 6px 0 0 0;
}


/*Fin todos los label del formulario*/


/*Inicio labels de avisos*/

.contenido>form>#aviso-importante,
#aviso-asunto {
    color: red;
    visibility: hidden;
    /*Inicialmente estan ocultados al menos que se le de al botón de enviar y surja algún imprevisto*/
}

.contenido>form>.aviso-asunto {
    font-style: italic;
}


/*Fin labels de avisos*/


/*Inicio del bloque de Comentarios del formulario*/

.contenido>form>#comentarios {
    height: 110px;
    margin-bottom: 10px;
}


/*Fin del bloque de Comentarios del formulario*/


/*Inicio botón de enviar y volverALaLandingPage*/

.contenido>form>input[type="submit"],
.contactanos_respuesta_volverALaLandingPage {
    height: 40px;
    width: auto;
    background: #b8002d;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Fin botón de enviar y volverALaLandingPage*/

#parrafo_respuesta {
    max-width: 334px;
    justify-content: stretch;
}

.contactanos_respuesta_volverALaLandingPage {
    display: flex;
}