* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat Medium", "Montserrat Regular", "Montserrat", sans-serif;
    align-items: center;
}

p {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Montserrat Medium", "Montserrat", sans-serif;
    font-weight: 500;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-size: 14px;
}

.titulo {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Montserrat Light", "Montserrat", sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    line-height: normal;
    font-size: 48px;
}

.subtitulo {
    font-family: "Montserrat Italic", "Montserrat Regular", "Montserrat", sans-serif;
    font-style: italic;
    color: #333333;
    text-align: center;
    line-height: normal;
    font-size: 16px;
}

.titulo_seccion {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Montserrat Bold", "Montserrat", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: center;
    line-height: normal;
    font-size: 20px;
}

.header-area {
    background: #ffffff;
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    /*Flex*/
    display: flex;
    justify-content: space-between;
}

.banner-area {
    /*Hacer una vista de pantalla completa*/
    min-height: 100vh;
    /*Añadir fondo de pagina*/
    background-image: url("../../../assets/fondo.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-between;
}

.content-area {
    padding: 0;
    padding-bottom: 15px;
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-between;
}

section {
    width: 100%;
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
}

.row {
    flex-flow: row nowrap;
}

.text-area {
    padding: 15px;
}

.wrapper_row {
    padding: 15px;
    /*Flex*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.wrapper_col {
    padding: 15px;
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.button button {
    width: 266px;
    margin-top: 2%;
    height: 54px;
    border-radius: 10px;
    border: 5px none #333333;
    background-color: #900c3f;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.54);
    font-family: "Montserrat Bold", "Montserrat Regular", "Montserrat", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}

.img_responsive {
    width: 100%;
    height: auto;
}

.icon_responsive {
    display: block;
    margin: auto;
    width: 30%;
    height: auto;
}

.icon_small {
    width: 40%;
}

.grey {
    background-color: rgba(170, 170, 170, 0.16);
}