/*---------------------------------------------------------------------------------------------------------*/
/*Importamos la fuente Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio Variables*/
:root{
    --texto:#111111; /*Color del texto*/
    --principal:#FFFFFF; /*Color principal de nuestra web*/
    --secundario:#000000; /*Color secundario de nuestra web*/
    /*Botones*/
    --boton-fondo:#900c3f;
    --boton-texto:#FFFFFF;
    /*Imagenes*/
    --imagen-fondo:rgba(215, 215, 215, 0.27);
}
/*Fin Variables*/
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio etiquetas html y body*/
html{
    font-size: 16px; /*Esto ha definido el rem --> 1rem = 16px*/
}

body{
    background: var(--principal);
    font-family: "Montserrat Bold", "Montserrat", "sans-serif";
    color:var(--texto);
}
/*Fin etiquetas html y body*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio header*/
.encabezado{
    background: var(--principal);
    color: var(--texto);
    padding: 0.5rem;
    border: 1px solid black;
    border-top: none;
    border-radius: 5px;
}

.encabezado>.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-boton-login-menu{
    display: flex;
    align-items: center;
    margin: 2rem;
}
.contenedor-boton-login-menu>nav>div>ul{
    justify-content: stretch;
}
/*aqui empieza el logo*/
.encabezado>.container>.logo>img{
    width:150px;
    height: auto;
}
/*aqui empieza el boton-login*/
#boton-login{
    background: var(--boton-fondo);
    border-radius: 5px;
    width: 6rem;
    height: 2rem;
}
#boton-login>a{
    color: var(--boton-texto);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
/*Inicio Menu*/
.nav-item{
    background: var(--boton-fondo);
    border-radius: 5px;
    margin: 0.5rem;
    width: 10rem;
    text-align: center;
}
.nav-item>a{
    color: var(--boton-texto);
}
.contenedor-boton-login-menu>nav>div>ul>li{
    padding: 1rem;
}

.contenedor-boton-login-menu>nav>div>ul>li{
    align-self: center;
}
.bg-light {
    background-color: transparent!important;
}
/*Fin Menu*/
/*Fin header*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio contenido*/
.contenido{
    display: flex;
    flex-direction: column;
    margin: 11rem auto 1rem;
}
.contenido>h2{
    text-align: center;
}
.imagen{
    width: 20rem;
    margin: 0 auto 1rem;
    background-color: var(--imagen-fondo) ;
    border-radius: 5px;
}
/*Inicio listado de sensores*/
/*la clase card viene de la libreria de BootStrap*/
.card-header{
    background: var(--boton-fondo);
}
.card-header>h5>button{
    color: var(--boton-texto)
}
.card-header>h5>button:hover, .card-header>h5>button::selection{
    color: var(--boton-texto);
    font-weight: bold;
    text-decoration: none;
}
/*Fin listado de sensores*/
/*Fin contenido*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio Footer*/
footer {
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: space-between;
}

footer a {
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Arial Normal", "Arial", sans-serif;
    color: var(--texto);
    text-align: left;
    line-height: normal;
    text-decoration: none;
    font-size: 10px;
}

.row {
    flex-flow: row nowrap;
}
.wrapper_row {
    padding-top: 2px;
    min-height: 100px;
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper_col {
    padding: 15px;
    /*Flex*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
/*Inicio iconos del footer*/
.icon_footer {
    width: 75%;
    height: auto;
}
/*Fin iconos del footer*/
/*Fin Footer*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*Inicio media querys*/
/*Nota importante: Muchas media querys vienen ya de serie con la libreria de Bootstrap 4.6.0*/
@media (max-width: 992px) {
    .contenido{
        margin-top: 9rem;
    }
    .contenedor-boton-login-menu>nav>div>ul{
        position: absolute;
        right: 0;
        display: block;
    }
}
/*Fin media querys*/