#contenedor{
    height: 720px;
    margin: auto auto;    
 }
#cabecera_contenedor{
width: auto;
    height: 70px;
    opacity: 0.78;
    padding: 2px 2px 2px 2px;
    border-radius: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 0px rgba(121, 121, 121, 0.35); 
    display: flex;
    
}
#area_logo{
    justify-content:center;   
    width: auto;
    height: auto;
}
#area_menu{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
 #imagen_logo_GTI{
     width: 160px;
     height: 70px;
     box-sizing: border-box;
 }
 #icono_menu{
    width: 40px;
    height: 40%;
    padding: 2px;
    transform: translate(-10px, 20px); 
 }
.titulo-mediciones{
    display: flex;
    justify-content: center;
    padding: 1px;
    font-size: 25px;
}
#area_imagen_mediciones{
    padding: 0px 1px ;
    height: 500px;
}
#contenedor_humedad{
    display: flex;
    justify-content: center;
    padding: 2px;
}
.sensor-humedad{
    padding: 2px 5px;
    margin: 1px;
    transform: translate(15%);
}
.titulo-grafica{
    padding: 10px;
    width: 200px;
    font-size: 110%;
}
.imagen-estadistica{
    padding: 15px;  
}
#imagen_humedad{
    height: 60px;
}
.valores-humedad{
    margin: 20px;
    width: 180px;
    font-size: 85%;
    transform: translate(15%, 25%);
}
span{
    color: red;
}
.incidencia{
    display: flex;
    justify-content: center;
    transform: translate(0%, 130%);
    height: 30px;
}
.boton-incidencia{
    color: white;
    background-color: #900c3f;
    font-size: 110%;
}
h3,p{display: inline;}
.area_valor_medicion{
    text-align: right;
}

#pie_pagina{
    display: flex;
    justify-content: space-around;
    transform: translate(0%, 70%);
}
#area_iconos_footer{
    display: flex;
    
}
.icono-footer{
    display: flex;
    padding: 0px 10px;
    align-items: center;
    
}
#contenedor_informacion_footer{
    display: flex;
    font-size: 10px;
    padding: 5px;
}

.informacion-footer{
    align-content: space-around;
    padding: 5px;
    
}